body {
  margin: 0;
}

a {
  text-decoration: none;
}

article, aside, details, figcaption,
figure, footer, header, hgroup,
main, nav, section, summary {
  display: block;
}

#siteWrapper {
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2) !important;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  line-height: 1em;
  transition: all 0.2s ease-in-out;
}

.header-inner {
  padding: 20px 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

#header #logoWrapper {
  width: 140px;
}

#logoImage {
  height: 75px;
  width: 140px;
  margin: 0;
  font-size: 0;
  max-width: 100%;
}

#headerNav {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  text-align: right;
}

#mainNavWrapper {
  position: relative;
}

#headerNav nav a,
#headerNav nav a:hover,
#headerNav nav a:visited {
  color: white;
}

.nav-wrapper nav > div {
  display: inline-block;
}

#headerNav nav a {
  font-family: proxima-nova;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
  display: block;
  padding: 0.75em 1em;
}

#headerNav nav > div:last-child a {
  border-radius: 300px;
  border: 2px solid white;
  padding: 1em 1.5em !important;
  letter-spacing: 2px;
  margin-left: 1em;
  transition: background-color 0.1s 0s ease-in-out, color 0.1s ease-in-out;
}

#headerNav nav > div:last-child a:hover {
  background-color: white;
  color: black;
}

.banner-thumbnail-wrapper {
  padding: 180px 0 155px;
  min-height: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner-thumbnail-wrapper .color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

#thumbnail {
  background-color: #000;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-name: feature-bg-anim;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

#thumbnail img {
  height: 100%;
  width: 100%;
  /* top: -150px; */
  object-fit: cover;
}

@media only screen and (max-width: 1020px) {
  #thumbnail img {
    /* top: -50px; */
  }

  .banner-thumbnail-wrapper {
    padding-bottom: 90px;
  }
}

#overlay-input {
  display: none;
}

#overlay-button {
  display: none;
}

@media only screen and (max-width: 850px) {
  @keyframes bugfix { from {padding:0;} to {padding:0;}}
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

  #page {
    padding-top: 20px !important;
  }

  .desc-wrapper p > strong {
    font-size: 30px !important;
  }

  #thumbnail img {
    /* top: -50px; */
  }

  .banner-thumbnail-wrapper {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  #logoWrapper img {
    max-height: 50px;
  }

  #headerNav {
    display: none;
  }

  #overlay-button {
    position: absolute;
    display: table-cell;
    cursor: pointer;
    padding: 26px 11px;
    user-select: none;
    z-index: 1500;
    right: 1em;
    top: 1em;
  }

  #overlay-button span {
    font-size: 0;
    height: 1.9px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
  }

  #overlay-button span:before,
  #overlay-button span:after {
    height: 2px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }

  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }

  #overlay-button span:after {
    top: 10px;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked ~ #header #headerNav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
  }

  input[type=checkbox]:checked ~ #header #headerNav .collection {
    display: block !important;
    text-align: center;
  }

  input[type=checkbox]:checked ~ #header #mainNavWrapper {
    top: 50px;
  }

  input[type=checkbox]:checked ~ #header #headerNav nav > div a {
    display: inline-block;
  }

  input[type=checkbox]:checked ~ #header #headerNav nav > div:last-child a {
    margin-left: 0;
    margin-top: 1em;
  }

  input[type=checkbox]:checked ~ #overlay-button span,
  input[type=checkbox]:checked ~ #overlay-button:hover span {
    background: transparent;
  }

  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
  }

  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  input[type=checkbox]:checked ~ #header {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}


#footer {
  color: rgba(255, 255, 255, 0.4);
  background-color: #1f1f1f;
}

.footer-inner {
  padding: 64px 32px;
  box-sizing: border-box;
  max-width: 1020px;
  width: auto;
  margin: auto;
}

#siteInfo {
  text-align: center;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

#siteInfo a {
  color: rgba(255, 255, 255, 0.8);
}

#footerBlocks {
  margin-top: 1.5em;
  text-align: center;
}

#footerBlocks {
  color: rgba(255, 255, 255, 0.4);
}

#footerBlocks a,
#footerBlocks a:hover,
#footerBlocks a:visited {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#footerBlocks p {
  margin-top: 0;
  margin-bottom: 0;
}

.desc-wrapper {
  z-index: 100;
  position: relative;
  width: 100%;
  max-width: 956px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.desc-wrapper p {
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
  line-height: 1.5em;
  margin: 20px auto;
}

.desc-wrapper p > strong {
  white-space: pre-wrap;
  display: block;
  font-family: proxima-nova;
  font-weight: 700;
  font-style: normal;
  font-size: 68px;
  text-transform: uppercase;
  line-height: 1em;
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

#page {
  box-sizing: border-box;
  width: auto;
  margin: auto;
  max-width: 1020px;
  padding: 96px 32px;
}

#page #content {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.entry-more-link a,
.pagination a,
.entry-content a,
.blog-item a {
  color: #3d9991;
}

hr {
  border: none;
  border-top: 1px solid silver;
  margin: 2em 0;
}

.pagination .left {
  float: left;
}

.pagination .right {
  float: right;
}

body .entry + .entry {
  margin-top: 128px;
}

.entry-header {
  margin-bottom: 36px;
}

.entry-dateline a {
  color: rgba(26, 26, 26, 0.4);
}

.entry-title {
  font-weight: 400;
}

article header h1 a {
  color: rgba(26, 26, 26, 0.9);
}

.entry-content {
  color: rgba(26, 26, 26, 0.7);
}

.blog-item {
  color: rgba(26, 26, 26, 0.7);
}

.blog-item .entry-title {
  font-size: 39px;
  color: black;
  margin-bottom: 1em;
}

.blog-item h2 {
  font-size: 25px;
}

.blog-item h1 {
  font-size: 35px;
}

.blog-item h1, h2, h3 {
  font-family: proxima-nova;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.blog-item img {
  width: 100%;
  max-width: 700px;
}

#comments-heading {
  margin-top: 3em;
}

#photo-attribution {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, 0);
  margin: 1em 0 0 0;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
}

.infobox {
  border: 1px solid silver;
  border-radius: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 1em;
  line-height: 1.5em;
}

blockquote {
  border-left: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.2em 1em;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

#subscribe-cta {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid silver;
  border-radius: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 1em;
}

img.drop {

}

img.left {

}

img.right {
  width: inherit;
  max-width: 30%;
  float: right;
  margin: 0 0 0.5em 0.5em;
}
