body {
  margin: 0;
}

a {
  text-decoration: none;
}

article, aside, details, figcaption,
figure, footer, header, hgroup,
main, nav, section, summary {
  display: block;
}

#siteWrapper {
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2) !important;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  line-height: 1em;
  transition: all 0.2s ease-in-out;
}

.header-inner {
  padding: 20px 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

#header #logoWrapper {
  width: 140px;
}

#logoImage {
  height: 75px;
  width: 140px;
  margin: 0;
  font-size: 0;
  max-width: 100%;
}

#headerNav {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  text-align: right;
}

#mainNavWrapper {
  position: relative;
}

#headerNav nav a,
#headerNav nav a:hover,
#headerNav nav a:visited {
  color: white;
}

.nav-wrapper nav > div {
  display: inline-block;
}

#headerNav nav a {
  font-family: proxima-nova;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
  display: block;
  padding: 0.75em 1em;
}

#headerNav nav > div:last-child a {
  border-radius: 300px;
  border: 2px solid white;
  padding: 1em 1.5em !important;
  letter-spacing: 2px;
  margin-left: 1em;
  transition: background-color 0.1s 0s ease-in-out, color 0.1s ease-in-out;
}

#headerNav nav > div:last-child a:hover {
  background-color: white;
  color: black;
}

.banner-thumbnail-wrapper {
  padding: 180px 0 155px;
  min-height: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner-thumbnail-wrapper .color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

#thumbnail {
  background-color: #000;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-name: feature-bg-anim;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

#thumbnail img {
  height: 100%;
  width: 100%;
  /* top: -150px; */
  object-fit: cover;
}

@media only screen and (max-width: 1020px) {
  #thumbnail img {
    /* top: -50px; */
  }

  .banner-thumbnail-wrapper {
    padding-bottom: 90px;
  }
}

#overlay-input {
  display: none;
}

#overlay-button {
  display: none;
}

@media only screen and (max-width: 850px) {
  @keyframes bugfix { from {padding:0;} to {padding:0;}}
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

  #page {
    padding-top: 20px !important;
  }

  .desc-wrapper p > strong {
    font-size: 30px !important;
  }

  #thumbnail img {
    /* top: -50px; */
  }

  .banner-thumbnail-wrapper {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  #logoWrapper img {
    max-height: 50px;
  }

  #headerNav {
    display: none;
  }

  #overlay-button {
    position: absolute;
    display: table-cell;
    cursor: pointer;
    padding: 26px 11px;
    user-select: none;
    z-index: 1500;
    right: 1em;
    top: 1em;
  }

  #overlay-button span {
    font-size: 0;
    height: 1.9px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
  }

  #overlay-button span:before,
  #overlay-button span:after {
    height: 2px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }

  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }

  #overlay-button span:after {
    top: 10px;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked ~ #header #headerNav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
  }

  input[type=checkbox]:checked ~ #header #headerNav .collection {
    display: block !important;
    text-align: center;
  }

  input[type=checkbox]:checked ~ #header #mainNavWrapper {
    top: 50px;
  }

  input[type=checkbox]:checked ~ #header #headerNav nav > div a {
    display: inline-block;
  }

  input[type=checkbox]:checked ~ #header #headerNav nav > div:last-child a {
    margin-left: 0;
    margin-top: 1em;
  }

  input[type=checkbox]:checked ~ #overlay-button span,
  input[type=checkbox]:checked ~ #overlay-button:hover span {
    background: transparent;
  }

  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
  }

  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }

  input[type=checkbox]:checked ~ #header {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}


#footer {
  color: rgba(255, 255, 255, 0.4);
  background-color: #1f1f1f;
}

.footer-inner {
  padding: 64px 32px;
  box-sizing: border-box;
  max-width: 1020px;
  width: auto;
  margin: auto;
}

#siteInfo {
  text-align: center;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

#siteInfo a {
  color: rgba(255, 255, 255, 0.8);
}

#footerBlocks {
  margin-top: 1.5em;
  text-align: center;
}

#footerBlocks {
  color: rgba(255, 255, 255, 0.4);
}

#footerBlocks a,
#footerBlocks a:hover,
#footerBlocks a:visited {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#footerBlocks p {
  margin-top: 0;
  margin-bottom: 0;
}

.desc-wrapper {
  z-index: 100;
  position: relative;
  width: 100%;
  max-width: 956px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.desc-wrapper p {
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
  line-height: 1.5em;
  margin: 20px auto;
}

.desc-wrapper p > strong {
  white-space: pre-wrap;
  display: block;
  font-family: proxima-nova;
  font-weight: 700;
  font-style: normal;
  font-size: 68px;
  text-transform: uppercase;
  line-height: 1em;
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

#page {
  box-sizing: border-box;
  width: auto;
  margin: auto;
  max-width: 1020px;
  padding: 46px 32px;
}

#page #content {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.entry-more-link a,
.pagination a,
.entry-content a,
.blog-item a {
  color: #3d9991;
}

hr {
  border: none;
  border-top: 1px solid silver;
  margin: 2em 0;
}

.pagination .left {
  float: left;
}

.pagination .right {
  float: right;
}

body .entry + .entry {
  margin-top: 128px;
}

.entry-header {
  margin-bottom: 36px;
}

.entry-dateline a {
  color: rgba(26, 26, 26, 0.4);
}

.entry-title {
  font-weight: 400;
}

article header h1 a {
  color: rgba(26, 26, 26, 0.9);
}

.entry-content {
  color: rgba(26, 26, 26, 0.7);
}

.blog-item,
.page {
  color: rgba(26, 26, 26, 0.7);
}

.blog-item .entry-title {
  font-size: 39px;
  color: black;
  margin-bottom: 1em;
}

.blog-item h2,
.page h2 {
  font-size: 25px;
}

.blog-item h1,
.page h1 {
  font-size: 35px;
}

.blog-item h1,
.blog-item h2,
.blog-item h3,
.page h1,
.page h2 {
  font-family: proxima-nova;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.blog-item img {
  width: 100%;
  max-width: 700px;
}

#comments-heading {
  margin-top: 3em;
}

#photo-attribution {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, 0);
  margin: 1em 0 0 0;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
}

.infobox {
  border: 1px solid silver;
  border-radius: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 1em;
  line-height: 1.5em;
}

blockquote {
  border-left: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.2em 1em;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.subscribe-cta {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid silver;
  border-radius: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 1em;
}

img.drop {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 5px;
}

@media only screen and (max-width: 550px) {
  img.drop {
    max-width: 90%;
  }
}

img.left {
  width: inherit;
  max-width: 30%;
  float: left;
  margin: 0 0.5em 0.5em 0;
}

img.right {
  width: inherit;
  max-width: 30%;
  float: right;
  margin: 0 0 0.5em 0.5em;
}

.page dt {
  font-family: proxima-nova;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-weight: bold;
}

.page dd {
  margin-bottom: 1em;
}

.page hr {
  margin: 1em 0;
}

.page th {
  text-align: right;
  padding-right: 1em;
}

.page .segment {
  fill: white;
  stroke: black;
  stroke-width: 0.4px;
}

.page path.hover {
  fill: #eeeeee;
}

.page path.on {
  fill: #1B74FA;
}

.page path.on-hover {
  fill: #7AADFA;
}

.page path.off {
  fill: white;
}

.button-medium {
  background-color: rgb(61, 116, 199);
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  height: 21.6px;
  letter-spacing: 2.25px;
  line-height: normal;
  padding-bottom: 21px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 21px;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: linear;
  width: 251.5px;
  margin: 0 auto;
}

.button-small {
  background-color: rgb(248, 189, 53);
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: proxima-nova;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 17px;
  padding-left: 29.75px;
  padding-right: 29.75px;
  padding-top: 17px;
  text-align: center;
  text-decoration-color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: linear;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button-medium:hover,
.button-small:hover {
  opacity: 0.8;
}

#draft-warning {
  border: 1px solid red;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 0.5em;
  border-radius: 5px;
  /* background-image: repeating-linear-gradient(45deg, #fff, #fff 30px, #ffeeee 30px, #ffeeee 60px); */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 3em;
}

.footnote-definition sup {
  float: left;
}

.footnote-definition .footnote-body {
  margin-left: 1.5em;
}

/* Social sharing icons */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
  line-height: 1em;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  color: white;
  font-size: 13pt;
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}
/* End social sharing icons */
