$desktop-width: 1020px;
$tablet-width: 850px;
$phone-width: 550px;

@import "grid";

body {
  margin: 0;
  background-color: #1f1f1f;
  color: rgba(26, 26, 26, 0.7);
}

article, aside, details, figcaption,
figure, footer, header, hgroup,
main, nav, section, summary {
  display: block;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-top: 0;
}

#siteWrapper {
  background-color: white;
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

.banner-empty {
  height: 115px;
  background-color: rgba(26, 26, 26, 0.9);
}

#header {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2) !important;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  line-height: 1em;
  transition: all 0.2s ease-in-out;

  h1, h2, h3, h4 {
    margin-top: 0;
  }

  .header-inner {
    padding: 20px 0;
    display: table;
    width: 100%;
    box-sizing: border-box;

    #logoWrapper {
      width: 140px;

      #logoImage {
        height: 75px;
        width: 140px;
        margin: 0;
        font-size: 0;
        max-width: 100%;

        img {
          width: 75px;
        }
      }
    }

    #headerNav {
      box-sizing: border-box;
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
      text-align: right;

      #mainNavWrapper {
        position: relative;

        nav {
          & > div {
            display: inline-block;
          }

          & > div:last-child a {
            border-radius: 300px;
            border: 2px solid white;
            padding: 1em 1.5em !important;
            letter-spacing: 2px;
            margin-left: 1em;
            transition: background-color 0.1s 0s ease-in-out, color 0.1s ease-in-out;

            &:hover {
              background-color: white;
              color: black;
            }
          }

          a {
            font-family: proxima-nova;
            font-weight: 600;
            font-style: normal;
            font-size: 13px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 1em;
            display: block;
            padding: 0.75em 1em;
            color: white;

            &:hover, &:visited {
              color: white;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: #{$tablet-width}) {
    .header-inner {
      #headerNav {
        display: none;
      }

      #logoWrapper img {
        max-height: 50px;
      }
    }

    input[type=checkbox]:checked ~ & {
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.9) !important;

      #headerNav {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;

        #mainNavWrapper {
          top: 50px;

          nav {
            .collection {
              display: block !important;
              text-align: center;
            }

            & > div a {
              display: inline-block;
            }

            & > div:last-child a {
              margin-left: 0;
              margin-top: 1em;
            }
          }
        }
      }
    }
  }
}

.banner-wrapper-pad {
  padding: 180px 0 155px;
}

.banner-thumbnail-wrapper {
  min-height: 0;
  position: relative;
  overflow: hidden;
  width: 100%;

  .color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
  }

  #thumbnail {
    background-color: #000;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-name: feature-bg-anim;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: #{$tablet-width}) {
    // padding-bottom: 90px;
    padding-top: 100px;
    padding-bottom: 0px;
  }
}

#overlay-input {
  display: none;
}

#overlay-button {
  display: none;

  @media screen and (max-width: #{$tablet-width}) {
    & {
      position: absolute;
      display: table-cell;
      cursor: pointer;
      padding: 26px 11px;
      user-select: none;
      z-index: 1500;
      right: 1em;
      top: 1em;

      input[type=checkbox]:checked ~ &:hover {
        span {

        }
      }

      span {
        input[type=checkbox]:checked ~ & {
          background: transparent;

          &:before {
            transform: rotate(45deg) translate(7px, 7px);
          }

          &:after {
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }

        font-size: 0;
        height: 1.9px;
        width: 35px;
        border-radius: 2px;
        background-color: white;
        position: relative;
        display: block;
        transition: all 0.2s ease-in-out;

        &:before, &:after {
          height: 2px;
          width: 35px;
          border-radius: 2px;
          background-color: white;
          position: absolute;
          content: "";
          transition: all 0.2s ease-in-out;
        }

        &:before {
          top: -10px;
          visibility: visible;
        }

        &:after {
          top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: #{$tablet-width}) {
  @keyframes bugfix { from {padding:0;} to {padding:0;}}
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

  #page {
    padding-top: 20px !important;
  }

  .desc-wrapper p {
    font-size: 30px !important;

    span {
      font-size: 20px !important;
      margin-top: 5px;
    }
  }

  input[type=checkbox] {
    display: none;
  }
}

#footer {
  color: rgba(255, 255, 255, 0.4);
  background-color: #1f1f1f;

  .footer-inner {
    padding: 64px 32px;
    box-sizing: border-box;
    max-width: 1020px;
    width: auto;
    margin: auto;
  }

  a {
    text-decoration: none;
  }
}

#siteInfo {
  text-align: center;
  font-family: proxima-nova;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

#siteInfo a {
  color: rgba(255, 255, 255, 0.8);
}

#footerBlocks {
  margin-top: 1.5em;
  text-align: center;
}

#footerBlocks {
  color: rgba(255, 255, 255, 0.4);
}

#footerBlocks a,
#footerBlocks a:hover,
#footerBlocks a:visited {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#footerBlocks p {
  margin-top: 0;
  margin-bottom: 0;
}

.desc-wrapper {
  z-index: 100;
  position: relative;
  width: 100%;
  max-width: 956px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  text-rendering: optimizeLegibility;

  p {
    letter-spacing: 1px;
    white-space: pre-wrap;
    display: block;
    font-family: proxima-nova;
    font-weight: 700;
    font-style: normal;
    font-size: 68px;
    text-transform: uppercase;
    line-height: 1em;
    color: white;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5em 0;
    border-radius: 10px;

    span {
      font-weight: normal;
      text-transform: none;
      font-family: adobe-garamond-pro;
      display: block;
      font-size: 30px;
      font-style: italic;
    }
  }
}

#page {
  box-sizing: border-box;
  width: auto;
  margin: auto;
  max-width: 1020px;
  padding: 46px 32px;

  #content {
    width: 100%;
    // max-width: 700px;
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: #{$phone-width}) {
    padding: 46px 5px;
  }
}

.block {
  box-sizing: border-box;
  padding: 15px 0;

  @media screen and (max-width: #{$tablet-width}) {
    padding: 25px 0;
  }

  @media screen and (max-width: #{$phone-width}) {
    padding: 10px 0;
  }
}

.hr {
  padding: 50px 0;

  hr {
    margin: 32px 0;
    border-style: none;
    border-width: 0;
    height: 1px;
    color: rgba(26, 26, 26, .15);
    background-color: rgba(26, 26, 26, .15);
  }
}

.pullquote {
  padding: 0 50px;

  blockquote {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-size: 0.9em;
    line-height: 1.5em;

    span {
      display: block;
      text-align: center;
      color: silver;
      font-size: 90px;
    }
  }

  figcaption {
    margin-top: 1em !important;
    text-align: center;
    color: rgba(0, 0, 0, .45);
    font-size: 0.9em;

    &::before {
      content: "—"
    }
  }
}

.spacer {
  font-size: 0;
  line-height: 0;
}

.entry-more-link a,
.pagination a,
.entry-content a,
.blog-item a {
  color: #3d74c7;
}

.pagination .left {
  float: left;
}

.pagination .right {
  float: right;
}

body .entry + .entry {
  margin-top: 128px;
}

.entry-header {
  margin-bottom: 36px;

  h1 {
    font-size: 35px;
  }
}

.entry-dateline a {
  color: rgba(26, 26, 26, 0.4);
}

.entry-title {
  font-weight: 400;
}

.entry-title a {
  text-decoration: none;
}

img.entry-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  max-height: 300px;
}

img {
  max-width: 100%;
}

article header h1 a {
  color: rgba(26, 26, 26, 0.9);
}

.entry-content {
  color: rgba(26, 26, 26, 0.7);
}

.dots {
  text-align: center;
  font-weight: normal;
  font-size: 0.5em;
  letter-spacing: 10px;
  margin: 0 0 1.2em 0;
}

.blog-item, .page {
  color: rgba(26, 26, 26, 0.7);

  .entry-title {
    font-size: 39px;
    color: black;
    margin-bottom: 1em;
  }

  h2, h3 {
    text-transform: uppercase;
    font-family: proxima-nova;
    letter-spacing: 0.05em;
    font-weight: 600;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 25px;
    text-transform: none;
  }

  ul, ol {
    li {
      margin-bottom: 1.2em;

      p {
        margin: 0;
      }

      ul, ol {
        margin-top: 1.2em;
      }
    }
  }

  div.promo_box {
    border-top: 5px double goldenrod;
    border-bottom: 5px double goldenrod;
    padding: 0.8em 1.4em;
    margin: 2em 0 2em 0;
  }

  div.promo_box p:last-child {
    margin-bottom: 0;
  }

  .anchor-player {
    margin-top: 1.75em;
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    // max-width: 700px;

    &.left {
      width: inherit;
      max-width: 30%;
      float: left;
      margin: 0 0.5em 0.5em 0;
    }

    &.right {
      width: inherit;
      max-width: 30%;
      float: right;
      margin: 0 0 0.5em 0.5em;
    }

    &.card {
      border-radius: 8px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
      margin: 0.5em 0 1.2em 0;
    }
  }

  figcaption {
    text-align: center;
    margin-top: -1.2em;
    font-size: 0.9em;
    margin-bottom: 1.2em;
  }

  p {
    margin: 0 0 1.2em 0;
  }

  /* God save you if you use a superscript for something other than a
   footnote reference. */
  sup {
    line-height: 0;
    vertical-align: baseline;
    position: relative;
    top: -0.75em;
  }

  .footnote-ref {
    line-height: 0;
    padding: 0 0.15em;
    text-decoration: none;
    border: 1px solid #3d74c7;
    border-radius: 3px;
    margin-left: 0.25em;
    font-size: 0.8em;
  }

  .footnote-backref {
    text-decoration: none;
    padding: 0 0.25em;
    border: 1px solid #3d74c7;
    border-radius: 4px;
  }

  .footnote-definition {
    sup {
      float: left;
    }

    .footnote-body {
      margin-left: 1.5em;
    }
  }
}

p code {
  font-size: 0.8em;
  color: green;
  padding: 0 0.4em;
}

#comments-heading {
  margin-top: 3em;
}

#photo-attribution {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, 0);
  margin: 1em 0 0 0;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
}

.infobox {
  border: 1px solid silver;
  border-radius: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 1em;
  line-height: 1.5em;
}

blockquote {
  font-style: italic;
  // border-left: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0.2em 0;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.subscribe-cta {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid silver;
  border-radius: 5px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 1em;
}

a.subscribe {
  text-align: center;
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
  background: #c00;
  color: white;
  font-family: Roboto, Noto, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

img.drop {
  max-width: 60%;
  display: block;
  margin: 0 auto 2em auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 5px;

  @media only screen and (max-width: #{$phone-width}) {
    max-width: 90%;
  }
}

.page {
  dt {
    font-family: proxima-nova;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-weight: bold;
  }

  dd {
    margin-bottom: 1em;
  }

  hr {
    margin: 1em 0;
  }

  th {
    text-align: right;
    padding-right: 1em;
  }

  .segment {
    fill: white;
    stroke: black;
    stroke-width: 0.4px;
  }

  path.hover {
    fill: #eeeeee;
  }

  path.on {
    fill: #1B74FA;
  }

  path.on-hover {
    fill: #7AADFA;
  }

  path.off {
    fill: white;
  }
}

.button-medium {
  background-color: rgb(61, 116, 199);
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  height: 21.6px;
  letter-spacing: 2.25px;
  line-height: normal;
  padding-bottom: 21px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 21px;
  text-align: center;
  text-decoration: none;
  text-decoration-color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: linear;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button-small {
  background-color: rgb(248, 189, 53);
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: proxima-nova;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 17px;
  padding-left: 29.75px;
  padding-right: 29.75px;
  padding-top: 17px;
  text-align: center;
  text-decoration-color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: linear;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button-medium:hover,
.button-small:hover {
  opacity: 0.8;
}

#draft-warning {
  border: 1px solid red;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 3em;
}

/* Social sharing icons */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
  line-height: 1em;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  color: white;
  font-size: 13pt;
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus { background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}
/* End social sharing icons */

.subscribe_hero {
  width: 100%;
  border-radius: 10px;
}

.skip_subscribe {
  text-align: center;
}
