{{ $nav := .Params.navigation | default true }}
{{ $banner := .Params.banner | default true }}
{{ if $nav }}
<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>

<header id="header" class="show-on-scroll">
  <div class="header-inner">
    <div id="logoWrapper" class="wrapper" data-content-field="site-title">
      <h1 id="logoImage"><a href="{{ .Site.BaseURL }}"><img src="/images/face-logo-128.png" alt="Aaron Bieber"></a></h1>
    </div>

    <div id="headerNav">
      <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
        <nav id="mainNavigation" data-content-field="navigation-mainNav">

          {{ range .Site.Data.navigation.links }}
            <div class="collection homepage">
              <a href="{{ .url }}">
                {{ .name }}
              </a>
            </div>
          {{ end }}
        </nav>
      </div>
    </div>
  </div>
</header>
{{ end }}


{{ if $banner }}
  {{ .Scratch.Set "banner" "/images/default-banner.jpg" }}
  {{ if and .Params.image (.Page.Resources.GetMatch .Params.image) }}
    {{ .Scratch.Set "banner" (.Page.Resources.GetMatch .Params.image).RelPermalink }}
  {{ end }}

  <div class="banner-thumbnail-wrapper {{ if $nav }}banner-wrapper-pad{{ end }} has-description" data-content-field="main-image">
    <div class="color-overlay"></div>
    <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
      <img src="{{ .Scratch.Get "banner" }}" style="font-size: 0px; left: 0px; position: relative;">
    </figure>
    <div class="desc-wrapper" data-content-field="description">
      <p class="" style="white-space:pre-wrap;" id="yui_3_17_2_1_1642280740191_45">{{ .Page.Title }}<span>{{ .Params.subtitle }}</span></p>
    </div>
  </div>

{{ else }}

  <div class="banner-empty"></div>

{{ end }}
