<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  {{ $options := (dict "outputstyle" "compressed") }}
  {{ $styles := resources.Get "scss/main.scss" | toCSS $options }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="https://use.typekit.net/gur7hoz.css">
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <title>{{ .Page.Title }}{{ if not (eq .Page.Title .Site.Title) }} — {{ .Site.Title }}{{ end }}</title>
  {{ if .IsPage }}
  {{ .Scratch.Set "image" (.Site.BaseURL | printf "%s/twitter-banner-500.png") }}
  {{ if and .IsPage .Params.image }}
  {{ $img := .Params.image | printf "%s/%s/%s" .Site.BaseURL "uploads" }}
  {{ .Scratch.Set "image" $img }}
  {{ end }}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ .Page.Title }}" />
  <meta property="og:description" content="{{ .Summary }}" />
  <meta property="og:image" content="{{ .Scratch.Get "image" }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@aaronbieber" />
  <meta name="twitter:title" content="{{ .Page.Title }}" />
  <meta name="twitter:description" content="{{ .Summary }}" />
  <meta name="twitter:image" content="{{ .Scratch.Get "image" }}" />
  {{ end }}
</head>
