<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>

<header id="header" class="show-on-scroll">
  <div class="header-inner">
    <div id="logoWrapper" class="wrapper" data-content-field="site-title">
      <h1 id="logoImage"><a href="https://aaronbieber.coach"><img src="//images.squarespace-cdn.com/content/v1/5d9fb37da46cb72295018ff0/1573778134831-M0VO0M68E4KWJVNK682I/Face+logo.png?format=1500w" alt="Aaron Bieber"></a></h1>
    </div>

    <div id="headerNav">
      <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
        <nav id="mainNavigation" data-content-field="navigation-mainNav">
          <div class="collection homepage">
            <a href="https://aaronbieber.coach">
              Home
            </a>
          </div>
          <div class="collection">
            <a href="https://aaronbieber.coach/about">
              Meet Aaron
            </a>
          </div>
          <div class="collection active">
            <a href="{{ .Site.BaseURL }}">
              Blog
            </a>
          </div>
          <div class="collection">
            <a href="https://aaronbieber.coach/get-started">
              Work With Aaron
            </a>
          </div>
        </nav>
      </div>
    </div>

  </div>
</header>

{{ .Scratch.Set "banner" "https://images.squarespace-cdn.com/content/v1/5d9fb37da46cb72295018ff0/1571044469444-DNZ3XMDI3NIJCAQH2XEF/image-asset.jpeg?format=2500w" }}
{{ if and .IsPage .Params.image }}
{{ $img := .Params.image | printf "%s/%s" "/uploads" }}
{{ .Scratch.Set "banner" $img }}
{{ end }}

<div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
  <div class="color-overlay"></div>
  <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
    <img src="{{ .Scratch.Get "banner" }}" style="font-size: 0px; left: 0px; position: relative;">
  </figure>
  <div class="desc-wrapper" data-content-field="description">
    <p class="" style="white-space:pre-wrap;" id="yui_3_17_2_1_1642280740191_45"><strong data-shrink-original-size="68" style="letter-spacing: 0.0588235em;">Your Technologist<br>Coach</strong></p>
  </div>
</div>
