{{ define "main" }}

<div class="homepage_content">
  <!-- <img class="subscribe_hero" src="/images/harness-your-curiosity.jpg" />
  -->
  <p>
    Engineering leadership is hard, and the world needs more great
    managers. The best leaders in the world have mastered the ability
    to <em>stay curious</em>.
  </p>

  <p>
    In each issue I share <strong>one big idea</strong> and
    <strong>three questions</strong> that tap into your curiosity to
    expand and deepen your engineering leadership.
  </p>

  <hr/>

  <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
   hbspt.forms.create({
     region: "na1",
     portalId: "4674402",
     formId: "bdd366ea-47c9-4774-881f-272507d2cd60"
   });
  </script>

  <hr />

  <div class="skip_subscribe">
  <a href="/posts/">Let me read it first »</a>
  </div>
</div>

{{ end }}
