<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body class="homepage">
    <div id="siteWrapper">
      <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
        <div class="color-overlay"></div>
        <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
          <img src="/uploads/live-debugger-for-any-career.png" style="font-size: 0px; left: 0px; position: relative;">
        </figure>
        <div class="desc-wrapper" data-content-field="description">
          <p class="" style="white-space:pre-wrap;">{{ .Site.Title }}<span>{{ .Site.Params.subtitle }}</span></p>
        </div>
      </div>

      <main id="page" role="main">
        <div id="content" class="main-content" data-content-field="main-content">
          {{- block "main" . }}{{- end }}
        </div>

      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
