<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body class="homepage">
    <div id="siteWrapper">
      <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
        <div class="desc-wrapper" data-content-field="description">
          <p class="" style="white-space:pre-wrap;" id="yui_3_17_2_1_1642280740191_45"><strong data-shrink-original-size="68" style="letter-spacing: 0.0588235em;">Your Technologist<br>Coach Newsletter</strong></p>
        </div>
      </div>

      <main id="page" role="main">
        <div id="content" class="main-content" data-content-field="main-content">
          {{- block "main" . }}{{- end }}
        </div>

      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
